@font-face {
  font-family: 'Google Sans Code';
  src: url('../assets/fonts/GoogleSansCode-VariableFont_wght.ttf');
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Google Sans Code";
  color: #fff;

}

:root {
  --hue: 0;
  --saturation: 90%;
  --brightness: 60%;
  --primary: hsl(var(--hue), var(--saturation), var(--brightness));
  --primary-alt: hsl(calc(var(--hue) + 30), var(--saturation), var(--brightness));
  --bg: hsl(var(--hue), 5%, 8%);
  --header: hsl(var(--hue), 5%, 15%);
  --box: hsl(var(--hue), 10%, 13%);
  --box-alt: hsl(var(--hue), 15%, 20%);
  accent-color: var(--primary);
}

html.js-loading body {
  visibility: hidden;
}

body {
  background-color: var(--bg);
}

main {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  margin: 0 50px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

header {
  width: 100%;
  padding: 30px 0px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  background-color: var(--header);
  box-shadow: 0px 3px 10px #0000001e;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

a {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

i {
  font-size: 40px;
  transition: 0.1s;
}

i:hover {
  cursor: pointer;
  transform: scale(1.05) rotate(5deg);
  color: #fff;
}

#linkedin {color: #0a66c2;}
#github {color: #000000;}

h1 {
  margin: 0 50px;
  font-weight: bold;
  font-size: 40px;
  background-image: linear-gradient(0.25turn, var(--primary-alt), #ffffff);
  color: transparent;
  background-clip: text;
}

#links {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

button {
  background: none;
}

#colorReset{
  transition: 0.25s cubic-bezier(0.33, 1, 0.68, 1);
  border: none;
  i {
    font-size: 30px;
    color: var(--primary);
  }
}

#colorReset:hover {
  transform: rotate(-180deg) scale(1.1);
  i {color: #fff;}
}

#lang-buttons {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--box-alt);
  margin-left: auto;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#lang-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none; 
  transition: 0.1s;
}

#lang-buttons button:hover {
  cursor: pointer;
  transform: scale(1.1) rotate(3deg);
}

#lang-buttons button:active {
  filter: brightness(1.5);
  transform: scale(1.2);
}

.lang-icon {width: 40px; height: 28.8px;}

[data-i18n] {transition: opacity 0.2s;}
.updating [data-i18n] {opacity: 0.3;}

footer {
    position: fixed;
    bottom: 0;
    background-color: #000000;
    height: fit-content;
    padding: 10px 50px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10%;

    p {
        max-width: 90%;
        font-size: 12px;
        color: #ffffff;
    }
}