@font-face {
  font-family: 'Google Sans Code';
  src: url('../assets/fonts/GoogleSansCode-VariableFont_wght.ttf');
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Google Sans Code";
  caret-color: transparent;
}

:root {
  --hue: 0;
  --hue-alt: calc(var(--hue) + 30);
  --saturation: 90%;
  --brightness: 60%;
  --primary: hsl(var(--hue), var(--saturation), var(--brightness));
  --primary-alt: hsl(var(--hue-alt), var(--saturation), var(--brightness));
  --bg: hsl(var(--hue), 5%, 8%);
  --header: hsl(var(--hue), 5%, 15%);
  --box: hsl(var(--hue), 10%, 13%);
  --box-alt: hsl(var(--hue), 15%, 20%);
  --box-border: hsl(var(--hue-alt), 40%, 40%);
  --text-main: hsl(0, 0%, 95%);
  --text-p: hsl(0, 0%, 80%);
  accent-color: var(--primary-alt);
}

html.js-loading body {
  visibility: hidden;
}

body {
  background-color: var(--bg);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%; 
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  margin: 0 50px 50vh  50px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100%;
  padding: 30px 0px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  background-color: var(--header);
  box-shadow: 0px 5px 10px #00000033;
  border-bottom: var(--box-border) solid 1px;
}

header a {
  display: flex;
  align-items: center;
  text-align: center;
}

#sysinfo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--box);
  margin: 0 auto;
}

#sysinfo > div {
  display: flex;
  align-items: center;
}

#sysinfo i {
  font-size: 30px;
  margin-right: 2px;
  transition: none;
}

#sysinfo i:hover {
  transform: none;
  cursor: default;
}

.ph-thermometer-simple {color: hsl(32, 61%, 54%);}
.ph-disc {color: hsl(108, 61%, 54%);}
.ph-memory {color: hsl(172, 61%, 54%);}
.ph-clock {color: hsl(293, 61%, 54%);}

.ph-linkedin-logo {color: #0a66c2;}
.ph-github-logo {color: #000000;}
.ph-envelope-simple {color: #afafaf;}

#links {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 0 10px;
  background-color: var(--box-alt);
  gap: 10px;
}

#lang_buttons {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--box);
  margin-left: auto;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#lang_buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none; 
  transition: 0.1s;
}

#lang_buttons button:hover {
  cursor: pointer;
  transform: scale(1.1) rotate(3deg);
}

#lang_buttons button:active {
  filter: brightness(1.5);
  transform: scale(1.2);
}

.lang-icon {width: 40px; height: 28.8px;}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.box {
  background-color: var(--box);
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0;
  width: calc(100% - 40px);
  border: var(--box-border) solid 1px;
  /* box-shadow: inset 0 1px 2px #ffffff86; */

  h3 {
    margin-bottom: 15px;
  }
}

#contact {
  height: 20vh;
}

.scrollFade {
  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 20% cover 100vh;
}

.scrollFade * {
  animation: blur-appear linear both;
  animation-timeline: view(50% auto);
}

@media (prefers-reduced-motion: reduce) {
  .scrollFade {
    animation: none;
  }
}

@keyframes text-appear {
  0% {
    opacity: 0;
    transform: translateY(70px);
  }
  70% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blur-appear {
  0% {
    filter: blur(10px);
  }
  20% {
    filter: blur(2px);
  }
  50% {
    filter: blur(0px);
  }
}

p, span {
  color: var(--text-p);
}

a {
  text-decoration: none;
  color: var(--primary-alt);
}

i {
  font-size: 40px;
  transition: 0.1s;
}

i:hover {
  cursor: pointer;
  transform: scale(1.05) rotate(5deg);
}


h1 {
  margin: 0 50px;
  font-weight: bold;
  font-size: 40px;
  background-image: linear-gradient(0.25turn, var(--primary-alt), hsl(var(--hue-alt), 90%, 90%));
  color: transparent;
  background-clip: text;
}

h2, h3 {
  color: var(--text-main);
}


button {
  background: none;
}

#colorReset{
  transition: 0.25s cubic-bezier(0.33, 1, 0.68, 1);
  border: none;
  i {
    font-size: 30px;
    color: var(--primary-alt);
  }
}

#colorReset:hover {
  transform: rotate(-180deg) scale(1.1);
  i {color: #fff;}
}

[data-i18n] {transition: opacity 0.2s;}
.updating [data-i18n] {opacity: 0.3;}

footer {
  position: fixed;
  bottom: 0;
  background-color: #000000;
  height: fit-content;
  padding: 10px 50px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10%;
  box-shadow: 0px -5px 10px #00000033;
  p {
    max-width: 90%;
    font-size: 12px;
    color: #ffffff;
  }
}