@font-face {
  font-family: 'Space Mono Regular';
  src: url('../assets/fonts/SpaceMono-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Space Mono Bold';
  src: url('../assets/fonts/SpaceMono-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Google Sans Code';
  src: url('../assets/fonts/GoogleSansCode-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: "Google Sans Code";
}

main {
  margin: 0 50px;
  /* background: ; */
}

header {
  width: 100%;
  padding: 30px 0px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  background-color: #fad274;
  box-shadow: 0px 3px 10px #bbbbbb;
}

a {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

i {
  font-size: 40px;
  transition: 0.1s;
}

i:hover {
  transform: scale(1.05) rotate(5deg);
}

#linkedin {color: #0a66c2;}
#github {color: #000000;}

h1 {
  margin: 0 50px;
  font-weight: bold;
  font-size: 40px;
}

#lang-buttons {
  margin-left: auto;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#lang-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none; 
  background-color: transparent;
  transition: 0.15s;
}

#lang-buttons button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.lang-icon {width: 40px;}

[data-i18n] {transition: opacity 0.2s;}
.updating [data-i18n] {opacity: 0.3;}

footer {
    position: fixed;
    bottom: 0;
    background-color: #000000;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;    

    p {
        max-width: 90%;
        font-size: 12px;
        color: #ffffff;
    }
}